---
import Mylayout from '../layouts/Mylayout.astro';
---

<Mylayout title="FMentor | Space tourism website">
	<section class="h-[80%] w-full max-w-[25rem] text-white flex flex-col items-center justify-between px-[1.3rem]">
		<div class="h-[60%] w-full flex flex-col items-center justify-between text-center ">
			<h3 >So, you want to travel to</h3>
			<h1 class="text-8xl">Space</h1>
			<p>Let’s face it; if you want to go to space, you might as well genuinely go to 
			outer space and not hover kind of on the edge of it. Well sit back, and relax 
			because we’ll give you a truly out of this world experience!</p>	
		</div>

		<button class="h-[10rem] w-[10rem] uppercase rounded-full text-black bg-white  transition-all duration-150">Explore</button>	
	</section>

</Mylayout>

<style>
	body{
		background: url(/assets/home/background-home-mobile.jpg) center no-repeat;
		background-size: cover;
	}
	button:hover{
		box-shadow:  0 0 0 4rem #ffffff88;
		color: #2f2e2e88;
	}

</style>



