---

---

<header>
    <img src="/assets/shared/logo.svg" alt="logo space">
    <nav>     
        <ul class="navDeactive">
            <img src="/assets/shared/icon-close.svg" alt="icon-close">
            <li><strong>00</strong> <a href="/">Home</a></li>
            <li><strong>01</strong> <a href="/destination">destination</a></li>
            <li><strong>02</strong> <a href="/crew">Crew</a></li>
            <li><strong>03</strong> Technology</li>
        </ul>
    </nav>
    <img src="/assets/shared/icon-hamburger.svg" alt="logo-hamburger">
</header>






