---
import '../styles/layaout.css';
const {xd} = Astro.props;
---

<header>
    <img src="/assets/shared/logo.svg" alt="logo space">
    <nav>     
        <ul class="navDeactive">
            <img src="/assets/shared/icon-close.svg" alt="icon-close">
            <li class={xd === 'home'? 'liActive':null}><strong>00</strong> <a href="/">Home</a></li>
            <li class={xd === 'destination'? 'liActive':null} ><strong>01</strong> <a href="/destination">destination</a></li>
            <li class={xd === 'crew'? 'liActive':null}><strong>02</strong> <a href="/crew">Crew</a></li>
            <li class={xd === 'technology'? 'liActive':null}><strong>03</strong>  <a href="/tecnology">Technology</a></li>
        </ul>
    </nav>
    <img src="/assets/shared/icon-hamburger.svg" alt="logo-hamburger">
</header>



